/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    font-size: 100%;
}

body {
    background: #323232 url(../images/bg.png) repeat top left;
    color: #333;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: .85em;
}

#galleryWrapper {
    background-color: #FFF;
    border: 20px solid #369;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    width: 850px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}