[submodule "resources/themes/uber-blue"]
	path = resources/themes/uber-blue
	url = git://github.com/UberGallery/uber-blue.git
[submodule "resources/themes/uber-orange"]
	path = resources/themes/uber-orange
	url = git://github.com/UberGallery/uber-orange.git
[submodule "resources/themes/uber-naked"]
	path = resources/themes/uber-naked
	url = git://github.com/UberGallery/uber-naked.git
[submodule "resources/themes/uber-responsive"]
    path = resources/themes/uber-responsive
    url = git://github.com/UberGallery/uber-responsive.git
[submodule "scripts"]
	path = scripts
	url = git://github.com/UberGallery/scripts.git
