<footer class="container border-t-2 border-white text-center mx-auto px-4 py-8">
    <div class="flex flex-col justify-center items-center">
        <p class="text-white mb-4">
            Powered by <a class="underline" href="https://www.ubergallery.net">UberGallery</a>
        </p>

        <div class="flex">
            <a href="https://github.com/UberGallery/UberGallery" title="GitHub" class="text-white mx-2 hover:text-github">
                <i class="fab fa-github fa-lg"></i>
            </a>

            <a href="https://twitter.com/UberGallery" title="Twitter" class="text-white mx-2 hover:text-twitter">
                <i class="fab fa-twitter fa-lg"></i>
            </a>

            <a href="https://spectrum.chat/ubergallery" title="Spectrum" class="text-white mx-2 hover:text-spectrum">
                <i class="fas fa-comments fa-lg"></i>
            </a>
        </div>
    </div>
</footer>
