/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    font-size: 100%;
}

body {
    background: #323232 url(../images/bg.png) repeat top left;
    color: #333;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: .85em;
}

#galleryWrapper {
    border-radius: 10px;
    margin: 20px auto;
    width: 748px;
}

#galleryHeader {
    background-color: #DDF;
    color: #369;
    padding: 8px 10px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

#galleryHeader h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

#galleryListWrapper {
    background-color: #FFF;
    padding: 10px;
}

#galleryFooter {
    background-color: #DDF;
    border: none !important;
    color: #369;
    margin: 0 !important;
    padding: 6px 10px !important;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

#galleryFooter .credit a {
    color: #369;
}

#galleryFooter .credit a:hover {
    color: #333;
}
