<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UberGallery 3.0 Redux Theme</title>
    </head>
    <body>
        <h1>Welcome to UberGallery 3.0!</h1>
    </body>
</html>
