<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ album.title }} &bull; {{ gallery_title }}</title>

        <link rel="stylesheet" href="{{# themePath }}css/styles.css{{/ themePath }}">
    </head>
    <body>
        <h1>{{ album.title }}</h1>

        {{# album.images }}
            <a href="/default/{{ name }}" class="image">
                <img src="/default/thumbnail/{{ name }}" alt="{{ name }}" title="{{ name }}">
            </a>
        {{/ album.images }}
    </body>
</html>
