<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ gallery_title }}</title>

        <link rel="stylesheet" href="{{# themePath }}css/styles.css{{/ themePath }}">
    </head>
    <body>
        <h1>Welcome to UberGallery 3.0!</h1>

        {{# albums }}
            <a href="/{{ slug }}/">{{ title }}</a>
        {{/ albums }}
    </body>
</html>
